@import '../../scss//index.scss';

.cities {
    overflow-x: scroll;

    @media(min-width: 768px) {
        overflow-x: hidden;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
    }
    
    &__tr {
        border-top: 1px solid #ebebeb;
    }

    &__td {
        padding: em(15px) em(10px);
    }

    &__th {
        text-align: left;
        padding: em(15px) em(10px);
    }
}
