@import '../../scss/index.scss';

.add-form {
    
    margin: em(30px) 0;

    &__form {
        width: 100%;
        
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__input {
        width: 100%;
        margin-bottom: (10px);

        @media(min-width: 768px) {
            margin-right: em(25px);
            margin-bottom: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.validation-message {
    color: #c9302c;
    font-size: em(11px);
    margin: 0;
}