@import '../../scss//index.scss';

.add-form {
    
    margin: em(30px) 0;

    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.validationCommunicate {
    color: #c9302c;
    font-size: em(11px);
    margin: 0;
}