@import '../../scss//index.scss';

.settings {

    &__title {
        font-size: em(30px);
        font-weight: 400;
        margin: 0;
    }

    &__subtitle {
        width: 20%;
        font-size: em(14px);
        margin: 0;
    }

    &__content {
        border-top: em(1px) solid #ddd;
        border-bottom: em(1px) solid #ddd;
        padding: em(20px) 0;
        margin: em(20px) 0;
    }

    &__list {
        @include reset-list;
        padding: 0 em(25px);
    }

    &__element {
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
    }
}