@import '../../scss//index.scss';

.settings {

    &__title {
        font-size: em(30px);
        font-weight: 400;
        margin: 0;
    }

    &__subtitle {
        font-size: em(14px);
        margin: 0;

        @media(min-width: 768px) {
            width: 20%;
        }
    }

    &__content {
        border-top: em(1px) solid #ddd;
        border-bottom: em(1px) solid #ddd;
        padding: em(20px) 0;
        margin: em(20px) 0;
    }

    &__details {
        padding: em(15px);

        @media(min-width: 768px) {
            padding: 0;
        }
    }

    &__list {
        @include reset-list;
        padding: 0 em(25px);
    }

    &__element {

        @media(min-width: 768px) {
            display: flex;
            align-items: flex-start;
        }
    }
}