@import '../../scss//index.scss';

.city {

    &__title {
        font-size: em(30px);
        font-weight: 400;
        margin: 0;
    }

    &__content {
        border-top: em(1px) solid #ddd;
        border-bottom: em(1px) solid #ddd;
        padding: em(20px) 0;
        margin: em(20px) 0;
    }
    
}

.details {
    @include reset-list;
    padding: 0 em(25px);

    &__element {
        font-size: em(14px);
        margin: em(20px) 0;
        display: flex;
        align-items: flex-start;
    }

    &__title {
        font-size: em(16px);
        margin: 0;
        padding-right: em(5px);

        @media(min-width: 768px) {
            width: 20%;
        }
    }
}